.navbar-light .navbar-nav .nav-link {
    color: rgb(64, 64, 64);
}

.btco-menu li>a {
    padding: 10px 15px;
    color: #000;
}

.btco-menu .active a:focus,
.btco-menu li a:focus,
.navbar>.show>a:focus {
    background: transparent;
    outline: 0;
}

.dropdown-submenu{
    position: relative;
}
.dropdown-submenu a::after{
    transform: rotate(-90deg);
    position: absolute;
    right: 3px;
    top: 40%;
}
.dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu{
    display: flex;
    flex-direction: column;
    position: absolute !important;
    margin-top: -30px;
    left: 100%;
}
@media (max-width: 992px) {
    .dropdown-menu{
        width: 50%;
    }
    .dropdown-menu .dropdown-submenu{
        width: auto;
    }
}

.breadcrumb .breadcrumb-item.title:after {
    content: ":";
    padding-left: 0.1rem;
    padding-right: 0.5rem;
}

.breadcrumb .breadcrumb-item.title+.breadcrumb-item:before {
    content: none;
}